
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #e6e6e6;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #31313b;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #e6e6e6;  /* creates padding around scroll thumb */
}

head, body{
    background-color: #e6e6e6;
}

body{
font-family: 'Ubuntu', sans-serif;

}

footer{
    background-color: #31313b;
    color: #e6e6e6;
    padding: 20px, 5px;
    height: auto; 
    margin-top: 200px;; 
    width: 100%;
    bottom: 0;
    left: 0;
    position:static; 
    text-align: center;
    align-items:center;
    justify-content:space-around;
}
