

#main{
    align-items: center;
    justify-content: center;
    margin: 170px 20px;
}

.text{
    font-size:40pt;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.relevant{
    margin: 20px;
    margin-top: 200px;
}
.relevant a{
    font-size: 15pt;
    display: inline-block;
    color: #31313b;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width:404px) {
    .text{
        font-size:30pt;
    }
    
}

@media (max-width:321px) {
    .text{
        font-size:25pt;
    }
    
}