<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeConnect</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../static/Styles/all.css">
        <link rel="stylesheet" href="../static/Styles/postagens.css">
        <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    </head>

    <body>
        <main>
          <header id="header"></header>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
          <script src="../static/code/header.js"></script>
          <script src="../static/code/scriptPosts.js"></script>
          <script src="../static/code/comments.js"></script>
          <script src="../static/code/answer.js"></script>

          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Título</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body p-4">
                    <div class="row">
                      <div class="col-md-12" style="text-align: justify;">
                          <h5><b>@Jordanamiugrau</b> publicou: </h5>
                          <p id="modalPost"></p>
                          <script>
                            var textareaValue = sessionStorage.getItem('textareaValue1');
                            document.getElementById('modalPost').innerText = textareaValue;

                          </script>
                          <hr>

                          <h3>Respostas:</h3>
                          <div id="listaRespostas">

                          </div>

                          <h5>@jorgindupneu</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quae quaerat modi. Inventore eum ducimus harum doloribus exercitationem dolor sequi quas, quos distinctio. Culpa dolorum inventore commodi rem labore saepe.</p>

                          <h5>@flavinmichelin</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quae quaerat modi. Inventore eum ducimus harum doloribus exercitationem dolor sequi quas, quos distinctio. Culpa dolorum inventore commodi rem labore saepe.</p>

                          <h5>@otaviocarreta</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quae quaerat modi. Inventore eum ducimus harum doloribus exercitationem dolor sequi quas, quos distinctio. Culpa dolorum inventore commodi rem labore saepe.</p>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer d-flex">
                    <div class="col-12 resposta" style="text-align: center;">
                      <form id="cadastroRespostaForm">
                        <textarea id="textoResposta" placeholder="Type here:" required></textarea>
                        <input id="btnResp" type="submit" value="Enviar">
                      </form>
                    </div>
                    <div class="col-12" style="text-align: center;">
                      <button class="btn btn-outline-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Abrir comentários <img src="../images/chat.png" height="20px"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Comentários <img src="../images/comment.png" height="20px"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div id="listaComentarios" class="modal-body">
                      <h5>@jorgindupneu</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quae quaerat modi. Inventore eum ducimus harum doloribus exercitationem dolor sequi quas, quos distinctio. Culpa dolorum inventore commodi rem labore saepe.</p>
                      <p><i class="bi bi-suit-heart-fill"></i> 123 Curtidas</p><hr>

                      <h5>@flavinmichelin</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quae quaerat modi. Inventore eum ducimus harum doloribus exercitationem dolor sequi quas, quos distinctio. Culpa dolorum inventore commodi rem labore saepe.</p>
                      <p><i class="bi bi-suit-heart"></i> 0 Curtidas</p><hr>

                      <h5>@otaviocarreta</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quae quaerat modi. Inventore eum ducimus harum doloribus exercitationem dolor sequi quas, quos distinctio. Culpa dolorum inventore commodi rem labore saepe.</p>
                      <p><i class="bi bi-suit-heart-fill"></i> 12 Curtidas</p>
                  </div>

                  <div class="modal-footer">
                    <form id="cadastroComentarioForm">
                      <textarea id="textoComentario" placeholder="Type here:" required></textarea>
                      <input id="btnComment" type="submit" value="Enviar">
                    </form>
                    
                    <button class="btn btn-outline-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Voltar <i class="bi bi-arrow-counterclockwise"></i></button>
                  </div>
                </div>
              </div>
            </div>

            <section id="perguntas">
              <div class="container">

              </div>
            </section>
            <button class="btn btn-outline-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open first modal</button>
          </div>
        </main>

        <footer id="footer"></footer>
        <script src="../static/code/footer.js"></script>
    </body>
</html>  
